<%= form_for(@planner) do |f| %>
  <% if @planner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@planner.errors.count, "error") %> prohibited this planner from being saved:</h2>

      <ul>
      <% @planner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br />
    <%= f.number_field :semester_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.number_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
